---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Merci | NordiSaga">
  <div
    class="flex text-lg md:text-xl flex-col items-center justify-center font-skranjiBold mb-72 mt-20 text-darkHeader"
  >
    <h1 class="mb-4">Merci pour votre message.</h1>

    <h3 class="mb-8">Je vous répondrais dès que possible.</h3>

    <button
      class="bg-lightHeader text-gray-800 px-5 py-3 rounded-lg hover:bg-primary hover:text-gray-200 font-skanjiRegular"
    >
      <a href="/">Retour à l'accueil</a>
    </button>
  </div>
</Layout>
