---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Merci | NordiSaga">
  <div
    class="flex text-lg md:text-xl flex-col items-center justify-center font-skranjiBold mb-72 mt-20 text-error"
  >
    <h1 class="mb-4 mt-5">Oupssss Une erreur est survenue !!!</h1>
    <p class="mb-4 mt-10">
      Vérifiez votre conexion internet ou l'URL choisi !!!
    </p>
    <button
      class="bg-lightHeader mt-8 text-gray-800 px-5 py-3 rounded-lg hover:bg-primary hover:text-gray-200 font-skanjiRegular"
    >
      <a href="/">Retour à l'accueil</a>
    </button>
  </div>
</Layout>
