---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";

const posts = await getCollection("posts");
---

<Layout title="Blog | Histoire">
  <div class="mt-44 grid md:grid-cols-3 grid-cols-1">
    {posts.map((post) => <PostList posts={[post]} />)}
  </div>
</Layout>
